.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.8s ease-in;

    &.ready {
        opacity: 1;
    }
}

.page-content {
    flex: 1;
}

/* Global Transitions */
::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.5s;
}